.table-fixed {
    width: 100%;
  }
  
  /*This will work on every browser but Chrome Browser*/
  .table-fixed thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 7vh;
    z-index: 999;
    background-color: navy;
    color: #fff;
  }
  
  /*This will work on every browser*/
  .table-fixed thead th {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      height: 7vh;
      z-index: 999;
      background-color: navy;
      color: #fff;
  }